.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid black 1px;
    margin: 30px 50px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(241, 4, 115);
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 153, 0);
    border-radius: 10px;
}

button {
    position: absolute;
    left: 300px;
    top: 440px;
    width: 80px;
    padding: 5px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}